*.pyc
/code/__pycache__
code/skills/Memory/memory_store.txt
/data
/logs
/controldata/test_results

*.pyc
/controldata/logs
/testcode/results
/webresearch
code/skills/Memory/memory_store.json
/controldata/chatsessions
