*.pyc
/code/__pycache__
/data
/logs
/controldata/test_results

/controldata/logs
/testcode/results
/webresearch
/code/skills/Memory/memory_store.txt
/code/skills/Memory/memory_store.json
/controldata/chatsessions
/controldata/chathistory.json

